.friendList {
  list-style-type: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.item {
  width: 250px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #d4d7da;
  box-shadow: 1px 2px 22px -5px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
